

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Descargar
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="../../../assets/feed feddox (1).jpg" download>
              Descargar imagen
            </a>
          </li>
        <li><a class="dropdown-item" href="link-a-copiar-y-pegar">link/comprame/ticket.com</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><span class="dropdown-item-text">ETIQUETAS @NORMAN @JJUAN @BEICO</span></li>
    </ul>
</div>

