

<main>
  
	<article class="section" id="a"> <h1 class="culo">EVENTOS</h1><div class="container">
    
        <div class="row">
          
          <div class="col">
            
        <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/biografia feddox 2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/biografia feed sol.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/feed feddox (1).jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
      <div class="col">
    <div id="carouselExample" class="carousel slide">
    <div class="carouselindicators">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/nor1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/nor2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/nor3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
</div>

  
  
    </article>

	<article class="section" id="b"><h1 class="culo">QUIENES SOMOS</h1>
    <p class="description1">
      Soundaka es una productora sudamericana que se enfoca en la calidad del sonido, la artística 
      y la técnica minimalista. Su nombre es un acrónimo que combina el término "Sudaka" para 
      representar su origen sudamericano y "Sound" para destacar su enfoque en el buen sonido.
  </p></article>

	<article class="section" id="c"><h1 class="culo">STAFF</h1>
    
    <app-staff></app-staff>
  </article>



  

	<article class="section" id="d"><h1 class="culo">CONTACTO</h1>
    <div class="icon-container">
    <a href="https://www.instagram.com/soundakaofficial/">
  <img src="../../../assets/instagram.png" class="bola">
</a>
<a href="https://wa.me/?text=+5491139168609">
  <img src="../../../assets/whats.png" class="bola">
</a>
</div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  </article>
    
 
  <div class="uno">
    <footer>
        <p>
            
Copyright || © SOUNDAKA OFFICIAL || 2023
        </p>
        <p>Mar del Plata, Buenos Aires, Argentina</p>
    </footer>
</div>
</main>

