/* Estilos para pantallas más grandes (por defecto) */
#sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  background-color: #ffffff95;
  color: rgb(0, 0, 0);
  overflow-x: auto;
  white-space: nowrap;
  z-index: 999;
}


#header {
  box-sizing: border-box;
  
  padding: 1px;

  align-items: center;
}

#menu-items {
  display: flex;
  align-items: center;
  padding: 1px;
  
}

#menu-items .item {
  margin-right: 10px;
  margin-left: 90PX;
  
}

#menu-items .item:last-child {
  margin-right: 0;
  
}

#menu-items .item .icon,
#menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
 
}

#menu-items .item a {
  color: rgb(3, 1, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
 
}

#menu-items .item a:hover {
  background-color: #cabdbd;
}

#menu-items .item .icon {
  font-size: 50%;
  vertical-align: middle;
}

#menu-items .item .icon img {
  width: 100%;
}

#menu-items .item .title {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

#menu-items .item.separator {
  height: 1px;
  border-bottom: solid 1px #032c55;
  margin: 15px 0;
}

#main-container {
  margin-top: 72px;
  padding: 10px;
  color: #070edd;
  background-color: #032c55;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
 
}
#menu-items .item .icon img {
  width: 50px; /* Cambia el valor según tu preferencia */
  height: auto;
  
}

.item2{
position: fixed;
margin-left: 88%;
margin-top: -40px;

}






/* Sidebar Styles */
.sidebar1 {
  width: 80px; /* Adjust the width as needed */
  height: 35%; /* Adjust the height as needed */
  position: fixed;
  top: 0;
  left: 1px; /* Initially hide the sidebar off-screen */
  background-color: #33333373; /* Background color of the sidebar */
  padding-top: 40px; /* Space for a header or menu title */
  transition: left 0.3s; /* Transition for smooth sliding effect */
  z-index: 100; /* Set a high z-index to overlay other elements */
}

/* Styling for navigation items */
.sidebar1 .item1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar1 .item1 a {
  display: flex;
  align-items: center;
  color: #fff; /* Text color */
  text-decoration: none;
  padding: 1px;
  transition: background-color 0.3s; /* Smooth background color transition */
}

.sidebar1 .item1 a:hover {
  background-color: #555; /* Background color on hover */
}

/* Sidebar toggle button */
#menu-btn1 {
  position: absolute;
  top: 1px; /* Adjust the top position */
  left: 1px; /* Adjust the left position */
  cursor: pointer;
  color: #fff; /* Button color */
  font-size: 24px; /* Button size */
  z-index: 1100; /* Set a higher z-index to overlay the sidebar */
}



/* Icon and Title styles */
.sidebar1 .icon1 {
  width: 3px; /* Adjust the icon width */

}

.sidebar1 .title1 {
  flex-grow: 1; /* Allow title to expand to fill remaining space */
}

/* Separator styles */
.sidebar1 .separator1 {
  height: 1px; /* Separator height */
  background-color: #555; /* Separator color */
  margin: 5px 0; /* Adjust top and bottom margin */
}



