<div id="sidemenu" [ngClass]="{ 'expanded': isMenuExpanded, 'menu-collapsed': !isMenuExpanded  }">
    <div id="header">
     
      <div id="menu-btn" (click)="toggleMenu()">
  
      </div>
    </div>
  
    
  
    <div id="menu-items">
      <div class="item">
        <a href="#a" (click)="toggleMenu()">
          <div class="icon"><img src="../../../assets/eventito.png" alt=""></div>
          <div class="title"><span>Portfolio</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#b" (click)="toggleMenu()">
          <div class="icon"><img src="../../../assets/quien.png" alt=""></div>
          <div class="title"><span>Quienes Somos</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#c" (click)="toggleMenu()">
          <div class="icon"><img src="../../../assets/staffito.png" alt=""></div>
          <div class="title"><span>Staff</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#d" (click)="toggleMenu()">
          <div class="icon"><img src="../../../assets/vecteezy_telephone-contact-icon-in-black-circle-shape_8506403_762.png" alt=""></div>
          <div class="title"><span>Contacto</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>


      <div class="item">
        <a href="https://www.passline.com/eventos/feddox-sol-de-muro-norman-soundaka-roomie-club" (click)="toggleMenu()">
          <div class="icon"><img src="../../../assets/carrito.png" alt=""></div>
          <div class="title"><span>COMPRAR</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>

    </div>
    <div class="item1">
    <app-staff></app-staff>
  </div>


  </div>

  
  