<div id="sidemenu" [ngClass]="{ 'expanded': isMenuExpanded }">
    <div id="header">
      <div id="title"><span>Menu</span></div>
      <div id="menu-btn" (click)="toggleMenu()">
        <div class="btn-hamburger"></div>
        <div class="btn-hamburger"></div>
        <div class="btn-hamburger"></div>
      </div>
    </div>
  
    
  
    <div id="menu-items">
      <div class="item">
        <a href="#a">
          <div class="icon"><img src="../../../assets/eventos.jpeg" alt=""></div>
          <div class="title"><span>Eventos</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#b">
          <div class="icon"><img src="../../../assets/quienes.png" alt=""></div>
          <div class="title"><span>Culo</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#c">
          <div class="icon"><img src="../../../assets/staff.jpeg" alt=""></div>
          <div class="title"><span>Rata</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
  
      <div class="item">
        <a href="#d">
          <div class="icon"><img src="../../../assets/contacto.jpeg" alt=""></div>
          <div class="title"><span>Contacto</span></div>
        </a>
      </div>
  
      <div class="item separator"></div>
    </div>
  </div>
  
  
  